#tiding {
    position: absolute;
    left: 112px;
    bottom: 70px;
    width: 585px;
    font-size: 12pt; /*border-color: black;*/
/*border-width: 1px;*/
/*border-style: solid;*/
    vertical-align: top;
    z-index: 3;
}

#allTidings {
    position: absolute;
    left: 670px;
    bottom: 50px;
    color: white;
    font-size: 10pt;
    z-index: 3;
}

#tidingBackground {
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 1;
}