#products {
    color: black;
    position: absolute;
    left: 41%;
    top: 170px;
}

.productNameLink, .productDescription {
    color: black;
    font-family: tahoma, cursive;
}

.productDescription {
    font-size: 14px;
    margin-bottom: 20px;
}

.productName {
    margin-bottom: 10px;
}

.productNameLink {
    font-size: 16px;
}