#searchresults {
    color: black;
    position: absolute;
    width: 760px;
    right: 0;
    /*left: 41%;*/
    top: 170px;
}

.searchResultsName a {
    font-size: 14px;
    color: black;
    font-family: tahoma, cursive;
}

.searchResultsDescription {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: tahoma, cursive;
}