#header {
/*background-image: url( "image/header.png" );*/
    width: 778px;
    right: 0;
    height: 164px;
    position: absolute;
    top: 0;
    z-index: 2;
}

#header ul {
    list-style: none;
    margin-top: 5px;
    margin-right: 10px;
}

#headerContact {
    margin-left: 180px;
}

#headerContact td {
    color: white;
    font-size: 13pt;
}

#headerContact td {
    vertical-align: top;
}

#headerContact td a {
    vertical-align: top;
    color: white;
}

#headerBackground {
    z-index: 1;
    width: 778px;
    height: 164px;
    position: absolute;
    right: 0;
    top: 0;
}

#firmName {
    text-align: right;
    font-family: time;
    font-size: 54pt;
    font-style: italic;
}

#firmName a {
    text-decoration: none;
    color: #ffffff;
}